button.pageButton {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 5px;
    outline: none; /* Remove the default focus outline */
    background-color: rgba(42, 42, 42, 0.267);
    margin: auto 2px;
}

button.pageButton:hover {
    border: 1px solid rgba(42, 42, 42, 0.267);
    color: black;
    cursor: pointer;
    background-color: var(--color-starwars-normal);

}

button.active {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    border: 1px solid rgba(42, 42, 42, 0.267);
    color: black;
    cursor: pointer;
    background-color: var(--color-starwars-normal);
    margin: auto 3px;

}
